html {
    font-size: 16px;
}

.container {
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    margin: 1em;
    justify-items: center;
    margin-top: 10vh;
   display: block

}

.container h2 {
    color: #00d154;
    font-weight: 600;
    font-size: 2em;
    text-align: center;

}

.container li {
    padding: 10px;
    list-style: none;
    text-align: center;

}

.container input {
border: 1px solid;
text-align: center;
  margin: auto;
  width: 30%;
  padding: 10px;
  transform: translate(110%, 0);
}

.container button {
    border: 1px solid;
    text-align: center;
      margin: auto;
      width: 20%;
      padding: 10px;
      
      
    }

    .playlistButton button {
        text-align: center;
        align-items: center;
        justify-content: center;
        transform: translate(200%, 0);
        margin-top: 10px;
    }