html {
    font-size: 16px;
}

.container {
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    margin: 1em;
    justify-items: center;
    margin-top: 10vh;
   

}

.container h2 {
    color: #00d154;
    font-weight: 600;
    font-size: 2em;
    text-align: center;

}

.container li {
    padding: 10px;
    list-style: none;
    text-align: center;

}

.container input {
border: 1px solid;
text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  transform: translate(50%, 0);
}