.container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%
}

.container input{
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    text-align: center;
    align-items: center;
    margin-right: 1em;
    
}

.container button{
    border-radius: 10px;
    padding: 10px;
    width: 10%;
    display: inline;
}

.button :hover{
   background-color: #00d154;
   color: #ffffff;
       
}