html {
    font-size: 16px;
}

.container {
    background-color: #ccc;
    width: 50%;
    align-items: center;
    text-align: center;

}

.container h2 {
    color: #00d154;
    font-weight: 600;
    font-size: 2em;

}

.container li {
    padding: 10px;
    display: inline;
}